*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea
.idea/
springDemo.iml
/Main/target
.lst
Main/target/
lib/
SpringAOP/src/test/
SpringAOP/target/
SpringBase/src/test/
SpringBase/target/
SpringDataBase/src/test/
SpringDataBase/target/
SpringHTTPInvoker/src/main/resources/
SpringHTTPInvoker/src/test/
SpringHTTPInvoker/target/SpringRemoting-1.0-SNAPSHOT/WEB-INF/classes/org/
SpringHTTPInvoker/target/SpringRemoting-1.0-SNAPSHOT/WEB-INF/spring/
SpringHTTPInvoker/target/classes/org/
SpringHTTPInvoker/target/generated-sources/
SpringHTTPInvoker/target/surefire/
SpringRest/src/test/
SpringTasks/src/main/resources/
SpringTasks/src/test/
SpringTasks/target/
